<div class="container content">
    <div class="card-conainer">
        <form id="fom" #usernameForm="ngForm" (ngSubmit)="ngOnInit()">
            <input id="username" required  name="login" [(ngModel)]="username" class="form-control" type="text"><br>
            <button type="submit">SUBMIT USER</button>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-container">
                            <button (click)="toggledetails()" class="form-control button4">See Details</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-container">
                            <button (click)="togglerepos()" class="form-control button4">See repos</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    

</div>

<div *ngIf="showProfile" class="content" id="profits">
    <div class="container content">
      <h2>DETAILS</h2>
        <div class="row">
            <div class="col-md-6">
                <h5>{{user.login}}</h5>
                <img src="{{user.avatar_url}}" alt="">
                <br><br>
                <h5>Click <a href="https://github.com/{{user.login}}" target="_blank">here</a> to see {{user.login}}'s github profile</h5>
                
                <br> 
            </div>

            <div class="col-md-6">
                <h5>Number of Public Rpositories</h5>
                <p>{{user.public_repos}}</p>
                <br>
                <h5>User ID</h5>
                <p>{{user.id}}</p>
                <br>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="showRepos" class="content" id="reposits">
  <h2>REPOSITORIES</h2>
  <div class="container" id="repo-list">
    <div id="repolist" class="content" *ngFor="let myrepo of myrepos">
      <h5>{{myrepo.name}}</h5>
      <ul>
        <li> <em>created: </em>{{myrepo.created_at | date}}</li>
        <li><em>Description:</em>{{myrepo.description}}</li>
      </ul>
      <p> Click <a href="{{myrepo.html_url}}" target="_blank"> here </a>To visit {{myrepo.name}} repository</p> <br>

      <p>{{myrepo.html_url}}</p>
      
      
    </div>
    <br><hr>
  </div> 
</div>

















<style>
  
  #profits{
    background-color: burlywood;

  }

  #repolist{
    background-color: antiquewhite;
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
    h5{
        color: chocolate;
    }
  
    
  
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card.card-small {
      height: 16px;
      width: 168px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }
  
    .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    
  
    
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
      
    }
  
    @media screen and (max-width: 575px) {
    }
  </style>