<div class="container content">
    <div class="card-conainer">
        <form id="fom" #usernameForm="ngForm" (ngSubmit)="submitUser()">
            <input id="username" [(ngModel)]="username" required  name="login" class="form-control" type="text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-container">
                            <button class="form-control button4" type="submit">See Details</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-container">
                            <button class="form-control button4">See repos</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    

</div>

<div class="content">
    <h2>Details</h2>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <h5>{{user.login}}</h5>
                <img src="{{user.avatar_url}}" alt="">
                <br><br>
                <h5>Click <a href="{{user.url}}">here</a> to see {{user.login}}'s github profile</h5>
                
                <br> 
            </div>

            <div class="col-md-6">
                <h5>Number of Public Rpositories</h5>
                <p>{{user.public_repos}}</p>
                <br>
                <h5>User ID</h5>
                <p>{{user.id}}</p>
                <br>
            </div>
        </div>
    </div>
    
    
    
    
</div>

















<style>

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
    h5{
        color: chocolate;
    }
  
    
  
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card.card-small {
      height: 16px;
      width: 168px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }
  
    .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    
  
    
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
      
    }
  
    @media screen and (max-width: 575px) {
    }
  </style>